html { box-sizing: border-box;}
*, ::before, ::after { box-sizing: inherit;}

body {
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    margin: 0;
    padding: 0;
}

.mainBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    margin: 50px auto;
    width: 315px;
    padding: 20px;
    border-radius: 30px;
}

.mainBox img {
    max-width: 100%;
    border-radius: 10px;
}

.mainBox h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.5em;
    text-align: center;
}

.mainBox p {
    text-align: center;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    padding: 20px; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}